<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <title>Welcome to RSA Shop!</title>
    <style>
        .center-img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>

<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/"> <strong>RSA Shop</strong></a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark"><strong>Home Page</strong></a>
        <a class="p-2 text-dark" href="/order">Order Page</a>
        <a sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><strong>Logout</strong></a></a>
    </nav>

</div>
</div>
</nav>

<br>
<br>
<section class="jumbotron text-center">
    <div class="container">
        <h1>See and order, home delivery, payment upon receipt of product</h1>
        <p class="lead text-muted">Welcome to RSA Shop!</p>

    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <rect width="100%" height="100%" fill="#55595c"><img th:src="@{/images/tuf.png}" class="center-img"/></rect>
                    <div class="card-body">
                        <p class="card-text">Asus TUF Gaming</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><strong>349 990 &#8376</strong></p>
                            </div>
                            <small class="text-muted"><a href="order"> Go to Order Page for order</a></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <rect width="100%" height="100%" fill="#55595c"><img th:src="@{/images/5hq.png}" class="center-img"/></rect>
                    <div class="card-body">
                        <p class="card-text">Lenovo IdeaPad Legion Y540</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><strong>349 990 &#8376</strong></p>
                            </div>
                            <small class="text-muted"><a href="order">Go to Order Page for order</a></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <rect width="100%" height="100%" fill="#55595c"><img th:src="@{/images/mac.png}" class="center-img"/></rect>
                    <div class="card-body">
                        <p class="card-text"> Apple MacBook Pro Touch Bar Retina</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><strong>579 990 &#8376</strong></p>
                            </div>
                            <small class="text-muted"><a href="order"> Go to Order Page for order</a></small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <rect width="100%" height="100%" fill="#55595c"><img th:src="@{/images/hp.png}" class="center-img"/> </rect>
                    <div class="card-body">
                        <p class="card-text"> HP Pavilion Ryzen 7 3750H</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><strong>454 990 &#8376</strong></p>
                            </div>
                            <small class="text-muted"><a href="order">Go to Order Page for order</a></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <rect width="100%" height="100%" fill="#55595c"><img th:src="@{/images/hp1.png}" class="center-img"/> </rect>
                    <div class="card-body">
                        <p class="card-text">HP Pavilion Ryzen 5 3550H</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><strong>299 990 &#8376</strong></p>
                            </div>
                            <small class="text-muted"><a href="order"> Go to Order Page for order</a></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <rect width="100%" height="100%" fill="#55595c"><img th:src="@{/images/asus.png}" class="center-img"/> </rect></svg>
                    <div class="card-body">
                        <p class="card-text">Asus ROG STRIX G</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><strong>358 990 &#8376</strong></p>
                            </div>
                            <small class="text-muted"><a href="order"> Go to Order Page for order</a></small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <rect width="100%" height="100%" fill="#55595c"><img th:src="@{/images/asus2.png}" class="center-img"/></rect></svg>
                    <div class="card-body">
                        <p class="card-text">Asus X541SA Atom x5 E8000</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><strong>104 990 &#8376</strong></p>
                            </div>
                            <small class="text-muted"><a href="order"> Go to Order Page for order</a></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <rect width="100%" height="100%" fill="#55595c"><img th:src="@{/images/omen.png}" class="center-img"/></rect></svg>
                    <div class="card-body">
                        <p class="card-text">HP Omen i9 9880H</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><strong>1 540 990 &#8376</strong></p>
                            </div>
                            <small class="text-muted"><a href="order"> Go to Order Page for order</a></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <rect width="100%" height="100%" fill="#55595c"><img th:src="@{/images/zen.png}" class="center-img"/></rect></svg>
                    <div class="card-body">
                        <p class="card-text">Asus S533FA i5</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><strong>339 990 &#8376</strong></p>
                            </div>
                            <small class="text-muted"><a href="order"> Go to Order Page for order</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Shop which shows you the newest products of the biggest companies is © RSA, for you we can provide services of home delivery!</p>
        <p>Want contact with  me? <a href="https://vk.com/hajimeone">Visit my page</a> and write me.</p>
    </div>
</footer>


<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>

</html>